{% raw %}
server {
       listen         80;
       server_name    {{ site_domain }};
       return         301 https://$server_name$request_uri;
}

server {
        listen 443 ssl;
        server_name {{ site_domain }};

        access_log /var/log/nginx/{{ site_domain }}.access.log;
        error_log /var/log/nginx/{{ site_domain }}.error.log;

        # this below are certificates to be substituted
        ssl_certificate /etc/ssl/certs/ssl-cert-snakeoil.pem;
        ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;
        #ssl_certificate /etc/ssl/certs/{{ site_domain }}_chain.pem;
        #ssl_certificate_key /etc/ssl/private/{{ site_domain }};

        # allow for 2M upload
        client_max_body_size 2M;

        location /static/ {
            alias {{ site_web_root }}/static/;
        }

        location /media/ {
            alias {{ site_web_root }}/media/;
        }

        location / {
            uwsgi_pass unix:/tmp/uwsgi_{{ site_name }}.sock;
            include /etc/nginx/uwsgi_params;

            # add missing header as proxy_pass
            #add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
        }
}
{% endraw %}
