{% raw %}---
- name: install necessary packages
  apt: name={{ item }} state=present
  with_items:
    - redis-server

- name: start the service
  service: name=redis-server state=started
{% endraw %}
